# Intro to Python

### Why use Python?

* Automate and document routine work
* Analyze data in a replicable, documented way
* Build cool web stuff
* Lots of other journos use it

Open Terminal or iTerm. 

Type: python 

Type: 2+3 

Type: import this 

Type: CTRL+d

OK, you could do stuff in there all day. 

Or you could put code in a text file with the .py extension and run it from the command line (python filename.py). 

But we're going to use Jupyter notebook.

### Why use Jupyter notebook?

* Test your code line by line
* Rewrite it immediately when you err (and you will err)
* You can document/explain more extensively using markdown (what you're reading here)
* Reuse, reuse, reuse

So, here we go. Printing can be a good way to see if your code works, at least that's what i often use it for.

In [1]:
print something

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-1-1604f94da412>, line 1)

### To err is expected.

Oops! That didn't work. 

But this is the first of many errors you (and especially i!) will make in Python. In part, because we are typing (check the number of times i type pring instead of print). Also, because it's complicated.

So a few quick error tips:
* Proofread your code like a copy editor. Errors often result from misspellings, misplaced punctuation, etc.
* Google the error message + Python
* Use [stackoverflow.com](http://stackoverflow.com) to search the error message or ask questions.

So let's try using some quotes and parentheses around that word instead.

In [3]:
print('something')

something

Let's print an equation.

In [5]:
print(2+3)

5

What's the difference between these things? They're different data types. 

Note that string content is surrounded by quotes, but numbers don't need them. 

But don't forget that there are sometimes that numbers should be strings, such as zip codes, which you will rarely commit math with.

### Variables

Often, we create variables to contain strings, integers or floats. So let's do that.

Let's make a couple of variables with strings.

In [6]:
my_string = 'Python is fun!'

In [7]:
string_two = "it\'s also challenging."

In [8]:
my_string

'Python is fun!'

In [9]:
string_two

"it's also challenging."

Note that it doesn't really matter whether you use single or double quotes. If you have questions about this or other Python style, consult [PEP 8](https://www.python.org/dev/peps/pep-0008/ "PEP 8"). It's the AP Style Guide for Python.

Now let's create some integer and float variables.

In [10]:
my_int = 15

In [11]:
my_float = 4.5

How about a true/false, aka a boolean?

In [12]:
my_bool = True

Note the capitalization of True and the lack of quotes; same would go for False when you're using booleans.

Now let's print some of that stuff.

In [13]:
print(my_string)

Python is fun!

In [15]:
print(my_string + string_two)

Python is fun!it's also challenging.

Note that we're not using quotation marks around the variable name.

But that adding two strings is a mess, so let's try adding some whitespace and a comma between the variables.

In [16]:
print(my_string + ' ' + string_two)

Python is fun! it's also challenging.

Let's try some math.

In [17]:
print(my_int/my_float)

3.3333333333333335

Try some math with your integer and string variable.

In [18]:
print(my_int/my_string)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

Ha ha, math on different types of variables doesn't work! What do we mean by type? Let's review by printing.

In [19]:
print(type(my_string))
print(type(my_int))
print(type(my_float))
print(type(my_bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### More number stuff

So let's try some more number stuff, but let's begin by importing a file. 

Take a look at var.py first and especially note the notes. Using the hash/pound sign creates notes that allow you to comment on what your code does. This is pretty important to remind yourself (or others) what's happening.

Let's import that var.py file.

In [21]:
from var import *

Then print the contents of the variable some_num

In [22]:
print(some_num)

21

Let's create a new variable, unlucky_num, with our exisiting variable, and print it.

In [25]:
unlucky_num = some_num - 8
print(unlucky_num)

13

Can we change the value of of our variable some_num? Let's subtract 14 from it and print it again.

In [26]:
some_num = some_num-14
print(some_num)

7

What happens to unlucky_num?

In [27]:
print(unlucky_num)

13

Are our two integer variables equal?

In [28]:
print(unlucky_num == some_num)

False

There's a boolean response. Note the == sign. That's an important Python feature. But is one number larger than the other?

In [29]:
print(unlucky_num > some_num)

True

### More string stuff

Print the variable saying.

In [30]:
print(saying)

i'm just saying there are many things to learn about Python

How long is that sentence? Let's use the Python len command and find out!

In [31]:
print(len(saying))

59

How long is some_num?

In [32]:
print(len(some_num))

TypeError: object of type 'int' has no len()

Check out that error message. 

Now let's print the saying in all caps.

In [33]:
print(saying.upper())

I'M JUST SAYING THERE ARE MANY THINGS TO LEARN ABOUT PYTHON

Let's take a look at the ugly_string variable by printing it, and getting its length.

In [34]:
print(ugly_string)
print(len(ugly_string))

     IRE    is      lots of     fun
39

You can split that apart.

In [35]:
ugly_string.split()

['IRE', 'is', 'lots', 'of', 'fun']

That breaks the string apart based on spaces. And it's returned as a list. More about that in a bit.

Let's split the ugly_string on the word is â€“ a chance to use those parentheses after split.

In [36]:
ugly_string.split('is')

['     IRE    ', '      lots of     fun    ']

Remember how we added to strings together inserting a comma and white space with ', '? Here's a different way of doing that to fix the ugly_string using ' ', a split and join.

In [38]:
pretty_string = ' '.join(ugly_string.split())
print(pretty_string)

IRE is lots of fun

Remember we said rarely would you do math with strings? Well, we have added strings together. And we might multiply strings sometimes, too.

In [39]:
print('cha ' * 3)

cha cha cha

### Let's list

Think of a list as a variable that's set of strings, integers, floats, booleans or all of that surrounded by brackets and separated by commas.

In [41]:
my_list = ['Jacksonville', 'Montclair', 'Phoenix', 'Minneapolis']
my_list

['Jacksonville', 'Montclair', 'Phoenix', 'Minneapolis']

In [43]:
print(my_list[1])

Montclair

Note that calling item 1 in the list gets the second item. That's because Python counting, or indexing, begins with 0.

Let's add an item to the list using append.

In [45]:
my_list.append('Hot Springs')
print(my_list)

['Jacksonville', 'Montclair', 'Phoenix', 'Minneapolis', 'Hot Springs', 'Hot Springs']

### Dictionaries

What differentiates them from lists? Curly brackets, for one. And sets of information tied to key values, for another. Let's make an example.

In [46]:
my_dict = {'workshop': 'python', 'conference': 'IRE', 'location': 'Phoenix', 'day': 'Friday'}
print(my_dict)

{'workshop': 'python', 'conference': 'IRE', 'location': 'Phoenix', 'day': 'Friday'}

Print the value for conference. And note the bracket differences.

In [48]:
print(my_dict['conference'])

IRE

Remember the key value thing? Let's print them.

In [50]:
print(my_dict.keys())
print(my_dict.values())

dict_keys(['workshop', 'conference', 'location', 'day'])
dict_values(['python', 'IRE', 'Phoenix', 'Friday'])

Is there a month in my_dict?

In [51]:
print('month' in my_dict)

False

### Lists and dicts

Remember our var.py file? Let's print our list of months.

In [52]:
print(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']

Wait, how long is that list?

In [58]:
print(len(months))

14

We need to add a month!

In [60]:
months.append('Dec')
print(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

Print the first and last item of the the list.

In [61]:
print(months[0])

Jan

In [62]:
print(months[-1])

Dec

Now let's try something new with this list. It's called *slicing*.

In this instance, let's get the third through sixth items. Then get the sixth item onward.

We start with the third item - and that's [2], because Python begins indexing at 0. But a key point about slicing: you want to go one index number beyond the index number you want to get.

In [63]:
print(months[2:6])
print(months[5:])

['Mar', 'Apr', 'May', 'Jun']
['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

Now let's print the multi_list.

In [65]:
print(multi_list)

[['apricot', 'peach', 'avocado'], ['Honda', 'Ford', 'Toyota'], [11, 23, 31]]

Now, print the second item in the last of the three lists.

In [66]:
print(multi_list[-1][1])

23

Let's also look at the dictionary called person_data in var.py.

In [67]:
print(person_data)

{'first_name': 'Mabel', 'last_name': 'Smith', 'middle': 'Q', 'city': 'Phoenix'}

Now print the first name of the person.

In [70]:
print(person_data['first_name'])

Mabel

Let's add the state of Arizona to our person_data.

In [71]:
person_data['state'] = 'Arizona'
print(person_data)

{'first_name': 'Mabel', 'last_name': 'Smith', 'middle': 'Q', 'city': 'Phoenix', 'state': 'Arizona'}

You might take a quick look at var.py in a text editor/on github. Not that the addition of the state doesn't show up. Instead, it loads the new variable into memory, but not into the original file.

You could even change the city in person_data to Scottsdale. Again, it's stored in memory going forward, but not in your original variable file.

In [72]:
person_data['city'] = 'Scottsdale'
print(person_data)

{'first_name': 'Mabel', 'last_name': 'Smith', 'middle': 'Q', 'city': 'Scottsdale', 'state': 'Arizona'}

### Loops and conditions

We control what we're getting from files, URLs or other code by using "for" loops or "if/else" conditional statements.

#### 'For' loops

For (heh) instance, instead of using individual print statements (tedious, especially if you misspell pring, i mean, print, all the time), you can use a loop to call each item in the list.

Here's the thinking behind a for loop in what's called pseudocode. This is a good way to draft out what you're trying to do with your code::

    for each item in the list:
        do something
        maybe another thing
        maybe more stuff even
        
Also, check out the indentation there - in Python those four spaces (not tabs!) are important to make your code run. Still indent errors are common. Lots of text editors auto indent your code properly once you've named your file something like xxx.py

So, a for loop! Let's try it with our months list.

In [74]:
for month in (months):
    print(month)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

Now print a list of keys in the person_data dictionary.

In [75]:
for key in (person_data):
    print(key)

first_name
last_name
middle
city
state

How about a loop that prints sentences of they key and the value in person_data? Remember white space, addition, when you need quote marks.

In [78]:
for key in (person_data):
    print('The key is ' + key + ' and the value is ' + person_data[key] + '.')

The key is first_name and the value is Mabel.
The key is last_name and the value is Smith.
The key is middle and the value is Q.
The key is city and the value is Scottsdale.
The key is state and the value is Arizona.

A more complex loop would print how many items are in each sublist of multi_list, then list each item.

That's three things:

1. Print a statement that says: This list has x items:
2. Print each item in the list
3. Inserts a return character (\r) (note that backslash, not forward) before the next list

Here's how.

In [80]:
for sublist in (multi_list):
    print('The list has ' + str(len(multi_list)) + ' items:')
    for item in sublist:
        print(item)
    print('\r')

The list has 3 items:
apricot
peach
avocado

The list has 3 items:
Honda
Ford
Toyota

The list has 3 items:
11
23
31

#### If/else statements

Ever use [If This Then That](https://ifttt.com/) to set an automatic feed from, say Instagram to Twitter? 

If/else is the more robust (and often complex) Python version of IFTTT. 

Based on your statement, Python performs a test of the conditions you specify to determine if a logical test is true and then moves on accordingly. Sort of like a flow chart. Not like flow charts with only one answer.

Some pseudocode:

    if a logical test is true:
        do this
        maybe do another this or three
    else:
        do that

If there are more than two options (beyond simply true/false) there's always elif (not elf!):

    if x is true:
        do this
    elif something else:
        do that
    elif this third thing:
        do a different this or that
    else:
        if none of the above are true, this is the ultimate option
        
So, a gazillion lines ago, we had this variable called some_num. Let's figure out if it's equal to 21. Or not. (Don't forget that Python convention for equals ==)

In [81]:
if some_num == 21:
    print('Yes! 21!')
else:
    print('Nope, not 21 anymore.')

Nope, not 21 anymore.

### Put the fun in a function!

OK, really, we've already made some functions with built-in methods and data-type stuff.

But the strength of Python is writing your own functions that combine elements we've been working on.

The idea is that we comparmentalize or condense our code to avoid repetition. It can be difficult. And will perfection ever be achieved? Maybe, maybe not.

First, let's define a function that has one job: it prints the phrase "Cool beans!"

In [82]:
def beans():
    print('Cool beans!')

Now run the print_beans function and contemplate why we didn't just print('Cool beans!') in the first place. Also note how this differs from the print() function.

In [84]:
beans()

Cool beans!

Let's try a math function, more useful, that let's us identify a number, then multiply that number by itself.

In [86]:
def square(number):
    print(number * number)

Now let's find the square of a number, like maybe 11 - or choose your own number adventure.

In [87]:
square(11)

121

Another thing you can do: You can put it into another variable and print it.

In [88]:
square_result = square(44)
print(square_result)

1936
None

Is there a square of apple?

In [89]:
square('apple')

TypeError: can't multiply sequence by non-int of type 'str'

So, you can multiply a string. But it isn't exponential.

And that multi_list loop we use earlier? It could be a function, which might be more functional.

In [91]:
def list_sum(list):
    for sublist in (multi_list):
        print('The list has ' + str(len(multi_list)) + ' items:')
        for item in sublist:
            print(item)
        print('\r')

Try this function on multi_list.

In [92]:
list_sum(multi_list)

The list has 3 items:
apricot
peach
avocado

The list has 3 items:
Honda
Ford
Toyota

The list has 3 items:
11
23
31

Add the months list to multi_list and call the list_sum function again.

In [93]:
multi_list.append(months)
list_sum(multi_list)

The list has 4 items:
apricot
peach
avocado

The list has 4 items:
Honda
Ford
Toyota

The list has 4 items:
11
23
31

The list has 4 items:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

### Putting python together

What do we really want to do? Most often get files with data, analyze files of data, etc.

So let's put some variables, ... together.

Ideally, our files are csv. There's a file named lobby.csv here, so let's open, read and look at it using Python's csv library. And let's document what we're doing as we go.

One key step is to import the python library that handles such files.

In [95]:
import csv

#create a variable that opens the file
file = open('lobby.csv')

#create a variable to read the file
data = csv.reader(file)

#loop through and print the contents of the file
for row in data:
    print(row)

['Registration Year', 'Lobbyist Name', 'Expenditures', 'Contributions']
['1113', 'Abbey Clayton', '', '']
['1548', 'Abraham Richard', '', '']
['22', 'Abram Daniel', '', '']
['1575', 'Acevedo Mayra', '', '']
['26', 'Adondakis Sandra', '8071.0000', '']
['1581', 'Agopian Nicholas', '903.7600', '']
['29', 'Alarid Vanessa', '12284.8700', '4500.0000']
['1626', 'Albright Jeffrey ', '', '']
['689', 'Alexander Lee Ann', '', '']
['1031', 'Alire Donald', '', '']
['35', 'Allen Steven', '', '']
['1628', 'Allison  Mark ', '', '']
['1306', 'Allison Lesli ', '', '']
['1563', 'Ames Eric', '', '']
['37', 'Anaya Steven', '74.9700', '1000.0000']
['41', 'Anderson John', '4019.6300', '']
['46', 'Anderson Josh', '', '']
['1212', 'Angulo Javier ', '', '']
['688', 'Apodaca  Jerry ', '', '']
['937', 'Apodaca Robert', '720.0400', '']
['1346', 'Aranda Melanie ', '', '']
['1539', 'Archuleta Contessa', '', '']
['1457', 'Archuleta Larry', '', '']
['1054', 'Arencon Diego', '100.0000', '']
['1568', 'Armstrong Erin', '', '2500.0000']
['65', 'Arnold Michelle', '253.4200', '']
['1589', 'Ashley Corey', '', '']
['775', 'Avitia Miguel', '', '']
['1558', 'Baca  Sarah ', '', '']
['1644', 'Baca Marcus', '', '']
['74', 'Baca Max', '210.0000', '']
['1522', 'Baca Rebecca', '', '']
['79', 'Baca Ruben', '742.1000', '']
['1656', 'Baca Terri Nikole', '', '']
['83', 'Badal Adriana', '', '']
['785', 'Badal John', '514.6200', '']
['1507', 'Bailey Richard', '', '']
['1348', 'Baillio Colin', '', '']
['948', 'Baker Russell', '50.0000', '']
['88', 'Baldwin William', '', '']
['90', 'Balok Aron', '164.5100', '']
['1474', 'Balzano Cristoforo', '1343.7400', '']
['92', 'Barberousse Bob', '1953.5600', '']
['1029', 'Barboa Adriann', '', '']
['1128', 'Barden David', '', '']
['100', 'Barefoot Linda', '', '']
['1419', 'Barillas Marty', '', '']
['102', 'Barnett Mickey', '5939.9800', '1000.0000']
['107', 'Barton Yvonne', '', '']
['1119', 'Baur Bennett', '', '']
['1620', 'Beccera Ugalde Marilu', '', '']
['114', 'Bell Stephen', '', '']
['116', 'Bellino Sandra', '', '']
['1042', 'Benavides David', '', '']
['1035', 'Bent John Gregory', '', '']
['1333', 'Berg Sonya ', '', '']
['124', 'Berlier James', '', '']
['131', 'Bigelow Andrea ', '', '']
['1491', 'Biles Christopher ', '', '']
['1530', 'Bird Bryan', '', '']
['154', 'Blackwell Pamela', '', '']
['987', 'Blalock Joyce ', '', '']
['862', 'Block Jonathan ', '', '']
['1130', 'Block Patrick', '', '']
['1454', 'Boal George ', '', '']
['1645', 'Bodwell Eric', '', '']
['157', 'Bonahoom Barbara', '', '']
['158', 'Bonal Maurice', '', '200.0000']
['160', 'Bonar Laura', '', '']
['163', 'Bowen Michael', '16224.8500', '']
['165', 'Bowyer Charles', '', '']
['166', 'Bradley Walter ', '1311.8500', '']
['1280', 'Brady  Margaret ', '', '']
['1281', 'Brady Michael', '', '']
['986', 'Bravo Eleanor ', '', '']
['170', 'Brewster James', '', '']
['1597', 'Bristow Steven ', '', '']
['174', 'Brooks George', '27500.0000', '']
['1565', 'Brown Joan', '', '']
['1653', 'Brown Lance', '', '']
['850', 'Brown-Yazzie  Michelle ', '', '']
['1430', 'Brunder Carrie Robin', '61.5600', '']
['684', 'Buel Jeff ', '', '']
['182', 'Bullington James', '3844.2200', '1000.0000']
['195', 'Bundy Carter', '', '']
['1426', 'Bunker Mary Jessa', '7201.2500', '']
['1542', 'Burk  Jewell ', '', '']
['202', 'Bush Nathan ', '', '']
['1140', 'Cadena Denicia', '784.7200', '']
['208', 'Calef Barbara', '', '']
['1467', 'Callahan Robert', '', '']
['1627', 'Calman Judith', '', '']
['1603', 'Campos Jose', '', '']
['1580', 'Cardenas Theresa', '6618.8000', '']
['1532', 'Carey Madeleine', '', '']
['1525', 'Carr Linda', '', '']
['1414', 'Carreon Lorenzo', '', '']
['216', 'Carson Joel', '', '']
['898', 'Castillo Liliana', '174.1100', '']
['221', "C'deBaca Ernest", '', '']
['1523', 'Chaffin Anne', '', '']
['1398', 'Chaffin Chris', '', '']
['1591', 'Chappell Bill ', '', '']
['1255', 'Chase  Claire ', '', '']
['1116', 'Chavez  Katherine ', '', '']
['1259', 'Chavez  Rikki-Lee', '', '']
['1446', 'Chavez Alicia', '', '']
['1537', 'Chavez Dennis', '', '']
['228', 'Chavez Morris', '', '']
['1111', 'Chavez Santiago', '', '']
['1121', 'Chavez-Cook Kim ', '', '']
['1269', 'Cheney Justin ', '', '']
['250', 'Chino Conroy', '', '']
['913', 'Christensen Marc', '', '']
['731', 'Christopher John', '10572.3900', '3000.0000']
['252', 'Cisneros Gabriel', '', '']
['1087', 'Clark Kim', '', '']
['1385', 'Coffee Sherri', '', '']
['1574', 'Coffey Sarah', '450.0000', '5.0000']
['1605', 'Colas Ray ', '', '']
['264', 'Cole Terri', '135.0200', '']
['1303', 'Condit  Brian ', '', '']
['1602', 'Consier Kirby', '', '']
['271', 'Conway Ann', '', '']
['273', 'Cooper Jackie', '', '']
['274', 'Coppler Frank ', '', '']
['1404', 'Coppler JoAnne', '', '']
['1410', 'Cordova Ryan', '', '']
['1623', 'Correll Shawn ', '', '']
['276', 'Cowan Caren', '726.5300', '']
['767', 'Cravens Kent', '', '']
['278', 'Crespin Steve', '', '']
['1493', 'Crichton Dea ', '', '']
['1601', 'Cronn Chris ', '', '']
['283', 'Daniel John ', '', '225.0000']
['682', "D'Antonio  Michael", '16561.9700', '']
['287', 'Davis Joel', '', '']
['1246', 'Davis Timothy', '', '5.0000']
['1614', 'de Leon Susan', '', '']
['292', 'de Schweinitz Clark', '', '']
['1218', 'Deaguero Darrell', '', '']
['1550', 'Deats  Sarah ', '', '']
['1595', 'DeBenfdittis Peter ', '', '']
['1579', 'Decker Jessica ', '', '']
['1288', 'Demento  Marcia ', '', '']
['1517', 'DeVore-Parks Carolyne', '', '']
['1654', 'Deweese Lisa', '', '']
['1411', 'Dickerson Joan', '', '']
['1549', 'Dickson Virginia ', '', '']
['692', 'Digregorio  Jennie ', '', '']
['1282', 'Dixon Rose', '', '']
['1310', 'Dodge Esperanza ', '', '']
['1599', 'Dodge Timothy', '', '']
['308', 'Dolce Dauneen ', '', '']
['310', 'Domenici Pete', '', '']
['1096', 'Donaldson Robert ', '214.0900', '']
['313', 'Drake Tom ', '1020.2400', '']
['768', 'Drangmeister Walter', '', '']
['694', 'Dubose Christensen  Jacqueline', '', '']
['1129', 'Dudley Chavez Claire', '', '']
['1482', 'Dunaway Alan', '', '']
['955', 'Dunn Lawrence', '', '']
['315', 'Duran Adela', '1028.7100', '']
['316', 'Duran Mark', '7647.9500', '']
['1407', 'Duran Rose', '', '']
['1471', 'Durham Kelly', '', '']
['319', 'Dye Jeff', '', '']
['1220', 'Dyrcz John ', '', '']
['320', 'Earnest Joseph', '', '']
['1531', 'Eaton Laura', '', '']
['1264', 'Enjady  Godfrey ', '', '']
['1562', 'Eric Ames', '', '']
['1488', 'Erwin Donna', '', '']
['337', 'Esparsen Joy', '', '']
['1311', 'Esparza Tannia ', '', '']
['339', 'Espinoza Jason', '6183.7000', '']
['1178', 'Estrada Abuko', '', '55.0000']
['1196', 'Evans Andrea', '', '']
['344', 'Evans Gail', '', '']
['1566', 'Fadem Barry', '', '']
['1646', 'Fauldauer Arthur', '', '']
['1625', 'Favela Martha', '', '']
['355', 'Feldblum Mary', '', '']
['359', 'Ferrell Charles', '622.0100', '']
['700', 'Fiebelkorn Tammy ', '', '']
['363', 'Fisher Kristina', '', '50.0000']
['366', 'Fleisher Mark ', '2529.1600', '345.0000']
['1112', 'Fletcher Shelby', '604.6200', '']
['369', 'Fogel Stephen', '', '']
['1142', 'Foster Demis', '', '']
['372', 'Foster Karin', '3267.8800', '']
['1098', 'Fox  Bret', '', '']
['1393', 'Fox-Young Justine C.', '', '']
['379', 'Freeman Katherine', '', '']
['381', 'Fritz Leslie', '', '']
['383', 'Fuentes Jerry', '', '']
['384', 'Fulginiti William ', '2849.3500', '']
['1617', 'Gallegos Donald', '', '']
['1353', 'Garcia  Tomas', '', '']
['1641', 'Garcia Anna Marie', '105.7400', '']
['1613', 'Garcia Joaquin', '', '']
['1511', 'Garcia John', '', '']
['1497', 'Garcia Marlene ', '', '']
['1594', 'Garcia Paula', '', '']
['1247', 'Garcia Rosario (Chayo)', '', '']
['395', 'Garza Leonel', '', '']
['396', 'Gaspers Mark ', '', '']
['1222', 'Gerholt Gabrielle Anne', '', '']
['1570', 'Germain Naomie', '', '']
['397', 'Getz Clarice', '', '']
['1556', 'Giblin Judy', '', '']
['1592', 'Gibson Cassie', '', '']
['1513', 'Gillespie Patrick', '', '']
['399', 'Gilliland-Lopez Ronda', '', '']
['1399', 'Giron Gary', '', '']
['424', 'Glenn Joie', '', '']
['426', 'Goff H. ', '', '']
['429', 'Gomez Jose', '', '']
['1600', 'Gonzales Danica', '', '']
['1553', 'Gonzales Eva', '', '']
['431', 'Gonzales Marco', '1302.0000', '11000.0000']
['435', 'Gonzales Ricardo ', '2400.0000', '']
['1629', 'Gonzalez Gema', '', '']
['1622', 'Gonzalez Mendoza Estefany ', '', '']
['436', 'Goodmacher Charles', '', '']
['437', 'Goodrich Robert', '', '']
['439', 'Gorenz Deborah', '', '']
['459', 'Gould Leland', '1102.4700', '2500.0000']
['701', 'Gould Peter ', '', '']
['1528', 'Grahom Cameron', '', '']
['1237', 'Gray William ', '', '']
['461', 'Greene John ', '', '']
['1535', 'Greer  C. Earl ', '', '']
['463', 'Greer Mary', '', '']
['464', 'Greer Stephen', '', '']
['1606', 'Griego Eric', '', '']
['1245', 'Griego Maria', '', '']
['466', 'Griffith Sue', '789.8200', '']
['474', 'Groenewold Keven ', '3614.0000', '']
['480', 'Guay Richard', '', '']
['481', 'Guillen Joe', '', '']
['1551', 'Gunderson Jerrel ', '', '']
['1619', 'Gurrola Garcia Abril', '', '']
['1647', 'Gutierrez Frank', '', '']
['1425', 'Gutierrez Julie', '121.9300', '']
['1176', 'Hager Sovereign', '', '']
['1637', 'Haidle Paul ', '', '']
['1432', 'Halevi Susan', '', '']
['489', 'Hall J.Scott', '', '']
['1106', 'Hamsing Michael ', '', '']
['1498', 'Hance Kent', '', '']
['1529', 'Hanson Gabriel', '', '']
['945', 'Harden Clinton', '386.8000', '']
['877', 'Harrison Viki', '', '']
['1616', 'Hartson Alison', '', '']
['1636', 'Head Britney ', '', '']
['1439', 'Hedderich Scott', '', '']
['502', 'Hedrick Tara', '', '']
['503', 'Hendry Jon', '', '']
['509', 'Henrie Michelle', '', '']
['771', 'Henry Randal', '', '']
['774', 'Henry Vesta', '', '']
['1610', 'Henshaw Ilene', '', '']
['510', 'Henson Charles', '', '']
['1350', 'Hernandez Michelle', '', '']
['1382', 'Hildreth Troy ', '', '']
['520', 'Hoffman Sarah', '1804.0000', '']
['1546', 'Hoke John', '', '']
['526', 'Holland Suzanne ', '', '']
['544', 'Horan Lawrence ', '6782.6200', '']
['558', 'Horan Thomas', '2009.1000', '']
['583', 'Howell Dave', '', '']
['1584', 'Howl Glen ', '', '']
['1583', 'Howl Yvette ', '', '']
['585', 'Huebner Brian ', '', '']
['589', 'Hull II Arthur ', '9867.2000', '']
['669', 'Husted Doris', '', '']
['592', 'Hutchinson Howard', '', '']
['593', 'Idsinga Beverly', '719.9800', '']
['1504', 'Imholz Elizabeth ', '', '']
['594', 'Indall Jon ', '', '']
['705', 'Inman Debra ', '', '']
['1585', 'Ivory Ken', '', '']
['596', 'Jackson James ', '', '']
['792', 'Jacobus  Kristine', '', '5500.0000']
['600', 'Jantz Eric', '', '']
['784', 'Jaramillo David', '1840.2100', '1000.0000']
['914', 'Jaramillo Matthew', '5395.7200', '']
['1275', 'Jennings  Timothy ', '', '']
['602', 'Jennings Elisabeth ', '', '']
['788', 'Jernigan Jane', '', '']
['1480', 'Jimenez James', '', '']
['941', 'Jimenez Mario ', '', '']
['603', 'Johnson Annette ', '', '']
['604', 'Johnson Christine', '', '']
['1376', 'Johnson Jessica', '', '']
['1102', 'Johnson Johnny', '', '']
['1544', 'Johnson Robert', '115.4000', '']
['1538', 'Johnston  Sacha ', '', '']
['1442', 'Jones Cristal', '', '']
['1145', 'Jones La Vanda', '2905.4200', '']
['1427', 'Jones Vicki', '', '']
['609', 'Jordan William J.', '', '']
['1638', 'Jorge Edith ', '', '']
['611', 'Juricich Harriet', '', '']
['1343', 'Kamrath Kyle ', '', '']
['1105', 'Kelley Casey', '', '']
['1139', 'Kelley Krista', '', '']
['615', 'Keyes Conrad', '', '']
['1484', 'Killen Patrick', '1220.2800', '']
['617', 'Kimball, III David ', '', '']
['618', 'Kimble David ', '', '']
['619', 'King Leslie', '', '']
['620', 'King Nancy M.', '1392.3400', '']
['622', 'Koob Julianna ', '4244.5800', '5500.0000']
['623', 'Kopelman Steve', '141.6100', '']
['1501', 'Kozemchak Stephanie', '', '']
['1152', 'Krakowska Ewa', '', '']
['1590', 'Kravitz Leean', '', '50.0000']
['1611', 'Krueger John ', '', '']
['1631', 'Krumpos Kalli', '', '']
['1561', 'Kugler Carla', '', '']
['627', 'Laca Gaspar', '1073.4900', '']
['633', 'Larson Barbara ', '', '']
['635', 'Laubacher Cynthia ', '', '']
['890', 'Leach Carol ', '3293.1500', '']
['935', 'Legant Kimberly', '', '']
['1151', 'Leibowitz Jonathan', '', '']
['1327', 'Leland  Robert ', '', '']
['1635', 'Lewinger Ben', '', '']
['892', 'Lewis  Jesse ', '', '']
['1510', 'Lindsey Jason', '', '']
['1374', 'Lingley Kristen', '', '2000.0000']
['1184', 'Long  Noah', '', '']
['1219', 'Long Ashley Nicole', '', '']
['1520', 'Lopez  Daniel ', '927.4000', '']
['1342', 'Lopez Claudio', '', '']
['649', 'Lorimier Daniel', '', '']
['1100', 'Lormand Christine', '', '']
['651', 'Loubet Susan', '450.0000', '']
['1231', 'Lucero Carlos ', '5125.7000', '']
['1624', 'Lucero Steven', '', '']
['1114', 'Lujan Edward', '', '']
['1505', 'Lussenhop Barbara', '', '']
['1639', 'Lute Michelle', '', '']
['946', 'Ly Stephanie', '14256.0000', '']
['658', 'Mac RAE Bruce', '', '']
['1418', 'MacEachen Timothy', '', '']
['657', 'Machen Meredith ', '', '']
['1527', 'MacIver Lorie', '', '']
['1503', 'Madden Patrick ', '', '']
['661', 'Maestas-Traynor Debbie ', '1226.0000', '75.0000']
['663', 'Mahooty Pamela ', '107.2900', '']
['664', 'Mahr Edwin ', '1047.7900', '250.0000']
['666', 'Makin Roger', '', '']
['667', 'Mallery Peter', '3493.9200', '']
['25', 'Manne Sireesha', '', '']
['28', 'Manzano David', '', '']
['1043', 'Marks  Robert', '', '']
['31', 'Marquez Charlie', '5463.7100', '250.0000']
['34', 'Marshall Glenn \'Randy"', '', '500.0000']
['929', 'Martin Paul ', '', '']
['1519', 'Martinez  Juan ', '', '']
['1015', 'Martinez  Larry ', '', '']
['1598', 'Martinez Elisa', '', '']
['789', 'Martinez Eric ', '600.0000', '']
['1573', 'Martinez Joe', '', '']
['1379', 'Martinez Katherine', '10260.0000', '']
['1215', 'Martinez Rick ', '', '']
['1428', 'Martinez Severo', '', '']
['47', 'Mason Richard', '', '']
['1607', 'Mathews James', '', '']
['50', 'Maxie Gregory', '', '']
['1378', 'McAdams Bonnie ', '', '']
['932', 'McCarthy Laura ', '', '']
['1396', 'McClish Ralph', '', '']
['1508', 'McCormack Daniel', '', '']
['1577', 'McGiffert Elizabeth', '', '']
['61', 'McGonagle Minda', '849.7200', '100.0000']
['1502', 'Mcllroy Andrew', '', '']
['566', 'McNeill Patricia', '', '']
['64', 'Meiklejohn Douglas', '', '']
['66', 'Melendres Arthur', '50.0000', '100.0000']
['68', 'Menapace Joseph', '1460.0300', '']
['1381', 'Meradith Stephen', '', '']
['1003', 'Meyer Michael', '', '']
['77', 'Michel Steve', '', '']
['78', 'Milarch Jack', '', '']
['1261', 'Miller  Brian ', '', '']
['745', 'Milo Daniel M.', '', '']
['1409', 'Minner Sam', '327.1800', '']
['82', 'Minzner Richard ', '365.9600', '']
['85', 'Mitchell Rhonda', '4000.7900', '']
['87', 'Moellenberg Dalva', '286.6000', '']
['1572', 'Molinar-Arvizo Karla', '', '']
['1380', 'Monahan Joe ', '', '']
['1630', 'Monfiletto Anthony', '', '']
['94', 'Montoya Genaro', '', '']
['1103', 'Montoya Johnny', '923.8200', '250.0000']
['1406', 'Moon Catherine', '', '']
['111', 'Moore Brent', '661.8800', '']
['1204', 'Moore Brian', '2844.5300', '']
['108', 'Moore Elise Sanders', '', '']
['714', 'Moore Jacqueline ', '', '']
['117', 'Moots James', '', '']
['120', 'Moots Twila', '', '']
['1400', 'Morillas Pedro', '12500.0000', '']
['921', 'Morrison Nate', '', '']
['129', 'Morrison Wanda', '', '']
['715', 'Morrison William', '', '']
['1576', 'Moss  Amanda ', '', '']
['134', 'Muffoletto Baca Erin', '', '']
['1422', 'Munoz Mathew', '', '']
['1004', 'Murphy Victoria ', '', '325.0000']
['137', 'Najjar Daniel ', '5146.8000', '1000.0000']
['138', 'Najjar Jared', '', '']
['139', 'Nanasi Mariel', '', '']
['140', 'Nathan Frederic', '', '']
['1455', 'Nelson Peggy', '', '']
['1360', 'Nichols Brian ', '', '']
['144', 'Ning Natasha', '13643.5100', '']
['817', 'Noble Charles', '', '']
['1099', 'Oakeley David ', '3000.0000', '1000.0000']
['164', 'Ocheskey Fred ', '', '']
['1088', "O'Connell Brian", '', '']
['177', 'Olguin Michael', '', '']
['1648', 'Olivas Francisco', '', '']
['1615', 'Oliver Sandra', '', '']
['180', 'Omey Samantha', '', '']
['719', "O'neill James", '', '']
['1545', 'Ortega Alberto', '', '']
['846', 'Ortiz Darleen', '', '']
['187', 'Ortiz Lilliemae', '', '']
['1634', "O'Ryan Anne ", '', '']
['191', 'Otero Luke ', '2541.0600', '500.0000']
['1655', 'Padilla Patrick', '', '']
['1604', 'Pareja  Catalina Jelkh', '', '']
['899', 'Park Alfred', '837.9200', '']
['1441', 'Parker Kevin', '7384.2000', '']
['1642', 'Parks Jennifer', '', '']
['1150', 'Patterson Betty', '', '']
['1555', 'Pedersen  Paul ', '', '']
['233', 'Pegues Alice ', '', '']
['1320', 'Pena-Truiillo Rosella', '', '']
['722', 'Perry Stephen', '11.0000', '']
['235', 'Philips Grace ', '113.7000', '']
['1391', 'Phillips Brock', '', '']
['211', 'Pinnes Ellen ', '', '']
['1571', 'Poss Angela', '', '']
['237', 'Propes Margaret', '', '']
['238', 'Puelle Michael ', '1396.9000', '100.0000']
['1586', 'Pyle Lance', '18.8000', '']
['1359', 'Quintana  Patricia ', '', '']
['805', 'Racher Brent ', '', '']
['1526', 'Radolinski Steven ', '', '']
['1621', 'Ramirez Christopher ', '6.9900', '']
['1158', 'Ramo Jennifer ', '', '']
['242', 'Rangel Steven', '50.0000', '']
['248', 'Ray  Sam', '1154.3800', '100.0000']
['1412', 'Ray Coletta Q.', '', '']
['1609', 'Redman Leon ', '', '']
['1415', 'Redmond John', '', '']
['1472', 'Regens Brad', '', '']
['255', 'Reich Robert', '', '']
['256', 'Reilly-Mica Tara ', '44377.5000', '']
['257', 'Rel Ricardo', '2292.4100', '']
['723', 'Rice John (Mike)', '', '']
['1053', 'Riley  Zachary ', '251.0000', '']
['1451', 'Rindone D. Pauline', '', '']
['1534', 'Rios Rudy', '', '']
['1560', 'Rivera George', '', '']
['871', 'Rivera James', '', '']
['1547', 'Rivera Poqueen', '', '']
['270', 'Rivera-Wiest Roxanne ', '', '']
['1423', 'Roberts Sonya ', '', '']
['286', 'Roddy David ', '2531.4900', '']
['289', 'Rogers Patrick', '', '']
['1578', 'Romero Ane', '', '155.0000']
['1564', 'Romero Carlos', '', '']
['1649', 'Romero David', '', '']
['1049', 'Romero Kerrie C.', '150.0000', '']
['1416', 'Romero Paul', '', '']
['298', 'Romero Regina', '', '']
['301', 'Romero Richard', '1137.7500', '']
['1483', 'Romero Robert', '300.0000', '']
['968', 'Root David', '', '']
['318', 'Rosen Joshua ', '', '']
['1608', 'Rosen William ', '', '']
['1596', 'Rosenstiel Patrick ', '', '']
['1250', 'Rougemont Edward', '', '']
['1487', 'Rounds Ralph ', '389.9400', '']
['327', 'Roy Pamela ', '60.0000', '']
['1405', 'Russ II James', '', '1000.0000']
['329', 'Rutherford Jeremy', '559.9400', '']
['345', 'Ryan  Dina ', '', '']
['1494', 'Ryan John', '127.0000', '']
['347', 'Saavedra Marc', '170.0000', '']
['1593', 'Saldana Erica ', '', '']
['1133', 'Salim-Meza Valerie', '', '']
['1541', 'Sanchez  Christopher', '', '']
['343', 'Sanchez Allen ', '1072.9200', '']
['1445', 'Sanchez Anna', '', '']
['353', 'Sanchez Annadelle', '', '']
['1460', 'Sanchez Ignacio', '', '']
['807', 'Sanchez III Domingo', '', '']
['1643', 'Sanchez Paul', '', '']
['367', 'Sanchez Raymond ', '1010.5400', '']
['1431', 'Sanchez Robert', '', '']
['1230', 'Sandoval Edward', '', '']
['1005', 'Sandoval Oriana R.', '', '5.0000']
['373', 'Santillanes Joseph (Jay)', '', '']
['302', 'Santillanes Matejka ', '9226.8500', '250.0000']
['374', 'Scanland Scott', '25740.3100', '']
['403', 'Schmidt David ', '', '']
['1285', 'Schriver Richard', '', '']
['1554', 'Schuster  Benjamin', '', '']
['1251', 'Scott William ', '', '']
['406', 'Sechovec  Linda ', '', '']
['1033', 'Secrist Daniel James', '', '']
['1072', 'Sedillo Pablo ', '', '']
['407', 'Seligman Deborah ', '828.5700', '']
['408', 'Sellers Thomas', '180.2400', '']
['1023', 'Serna Patricio M.', '', '']
['412', 'Setter Drew ', '5707.3400', '']
['1476', 'Shank Brian', '24.9200', '']
['1515', 'Shearer Bobbi', '', '']
['1397', 'Shelton Benjamin', '432.0900', '']
['1521', 'Shepherd Ursula', '', '']
['418', 'Shoats Marlene (Marla)', '5764.4900', '1850.0000']
['1559', 'Sianez Steve', '', '']
['1459', 'Sidwell Tom', '', '']
['419', 'Siegle Linda', '623.2700', '450.0000']
['735', 'Silva  Daniel ', '', '']
['423', 'Silva Domonic', '', '']
['1650', 'Singdahlsen Paul', '', '']
['1146', 'Siwik Allyson', '', '']
['1468', 'Sleeter Marisa', '', '']
['675', 'Smart Scott', '7693.0000', '']

What would we call this bunch of lines with brackets and quotes in Pythonese?

In a bit, these files and a solutions file will be in this github repo: (https://github.com/sandrafish/python101). There's also a list of resources for learning more.